{% extends "base.html.twig" %}

{% block title %}Courses{% endblock %}

{% block content %}
    <h3>Current Courses</h3>

    {% if courses is not empty %}
    <ul>
        {% for course in courses %}
        <li><a href='/courses/{{ course.getId }}'>{{ course.getName }}</a>
            <ul>
                <li>{{ course.getNumber }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endif %}



{% endblock %}
