{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h3>Home Page</h3>
    <p>Add Student:</p>
    <form action="/student_add" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <label for="enrollment-date">Name</label>
        <input type="date" name="enrollment-date" id="enrollment-date">

        <button type="submit" name="button">Add</button>
    </form>

{% endblock %}
