{% extends "base.html.twig" %}

{% block title %}Students{% endblock %}

{% block content %}
    <h3>Current Students</h3>

    {% if students is not empty %}
    <ul>
        {% for student in students %}
        <li>{{ student.getName }}
            <ul>
                <li>{{ student.getEnrollmentDate }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
