{% extends "base.html.twig" %}

{% block title %}Students{% endblock %}

{% block content %}
    <h3>Current Students</h3>

    {% if students is not empty %}
    <ul>
        {% for student in students %}
        <li><a href="/students/{{ student.getId }}">{{ student.getName }}</a>
            <ul>
                <li>{{ student.getEnrollmentDate }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/students" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit">Expel All Students</button>
    </form>

{% endblock %}
